/* navbar */

.navnav{
    width: 1440px;
    height: 60px;
    background: linear-gradient(180deg, #FECF67 0%, #FFFAED 185.83%);
}

.navbar-brand{
    padding-top: 15px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    color: #000000;
}

/* tutup navbar */

/* data */

.produk{
    margin-left: 120px;
    margin-top: 150px;
}

.pr{
    margin-left: 30px;
    margin-top: -30px;
}

.pr-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.pr-dt{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.data{
    margin-left: 120px;
}

.hd{
    margin-top: 60px;
    margin-bottom: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #000000;

}

.lbel{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.form-text-data{
    padding-left: 15px;
    box-sizing: border-box;
    width: 284px;
    height: 40px;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.custom-select{
    box-sizing: border-box;
    width: 209px !important;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.form-text-alamat{
    box-sizing: border-box;
    width: 465px;
    height: 40px;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 3px;
}


.form-text-pos{
    padding-left: 15px;
    box-sizing: border-box;
    width: 209px;
    height: 40px;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.buton{
    margin-top: 80px;
}

.back{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

}

.btn-submit{
    margin-left: 248px;
    box-sizing: border-box;
    width: 249px;
    height: 50px;

    background: #EACA7A;
    border: 1px solid #000000;
    border-radius: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    color: #000000;
    transition: all 0.2s ease;
}

.btn-submit:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* tutup data */


/* footer */
footer{
    margin-top: 90px;
    padding-top: 67px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #F2C86B;
    width: 1440px;
    height: 307px;
}

.footer-item{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;

}

.bran{
    margin-top: 5px;
}

.bran p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;

}

.footer-link a{
    margin-top: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000; 

}

.catego{
    margin-left: 143px;
}

.help{
    margin-left: 180px;
}

.social{
    margin-top: -40px;
    margin-left: 213px;
}

.copyright{
    box-sizing: border-box;
    width: 1440px;
    height: 50px;
    background: #F2C86B;
    border-top: 1px solid #000000;

}

.copyright h5{
    padding-top: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;

    color: #000000;
}
/* tutupfooter */